<article class="post border border-2  rounded">
  <div class="title container ">
    <div class="post-details d-flex flex-row justify-content-between flex-wrap">
      <div class="title justify-content-start"><a href="/post/{{id}}">{{title}}</a></div>
      <div class="justify-content-end"><p>Posted by {{user.username}} on {{format_date created_at}}</div>
    </div>
    
  </div>
  <div class="meta container">
    <p>{{contents}} </p>
  </div>
</article>